.aboutPage {
    min-height: 100vh;
}

.background {
    background-image: url('../../assets/images/About/Pattern_1.1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8.5%;
    padding-bottom: 8.5%;
}

.content {
    background: white;
    background-image: url('../../assets/images/About/Background_1.png');
    width: 90%;
    margin: 0 auto;
    height: 100vh;
}

h1 {

}